<div class="container">
  <div class="update-form">
    <div class="profile-photo">
      @if (cover) {
        <img [src]="cover" alt="Profile Photo" />
      }@else {
        <img src="images/home-bg-image.jpg" alt="Profile Photo" />
      }
    </div>
    <hr />
    <h2 class="form-title">Update User</h2>
    <hr />
    <form [formGroup]="userForm">
      <!-- Full Name -->
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          formControlName="fullName"
          placeholder="Enter your full name"
          required
        />
        @if (userForm.controls['fullName'].touched &&
        userForm.controls['fullName'].errors?.['required']) {
        <span class="text-danger">user name is required</span>
        }@else if (userForm.controls['fullName'].touched &&
        userForm.controls['fullName'].errors?.['minlength']) {
        <span class="text-danger">name must be 5 characters</span>
        }
      </div>

      <!-- Email Address -->
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          required
        />
        @if (userForm.controls['email'].touched &&
        userForm.controls['email'].errors?.['required']) {
        <span class="text-danger">email is required</span>
        }@else if (userForm.controls['email'].touched &&
        userForm.controls['email'].errors?.['email']) {
        <span class="text-danger">please enter a valid email</span>
        }
      </div>

      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
          required
        />
        @if (userForm.controls['username'].touched &&
        userForm.controls['username'].errors?.['required']) {
        <span class="text-danger">username is required</span>
        }@else if (userForm.controls['username'].touched &&
        userForm.controls['username'].errors?.['minlength']) {
        <span class="text-danger">user name must be 5 characters</span>
        }
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter a new password"
        />
        @if (userForm.controls['password'].touched &&
        userForm.controls['password'].errors?.['required']) {
        <span class="text-danger">password is required</span>
        }@else if (userForm.controls['password'].touched &&
        userForm.controls['password'].errors?.['minlength']) {
        <span class="text-danger">password must be 6 characters</span>
        }
      </div>

      <div class="mb-3">
        <label for="profileImage" class="form-label">Choose an Image</label>
        <input
          type="file"
          class="form-control"
          id="profileImage"
          formControlName="profileImage"
          accept="image/*"
          [multiple]="false"
          (change)="onFileSelected($event)"
          required
        />
        @if (showError) {
        <p class="text-danger">image is required</p>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">
        Update
      </button>
    </form>
  </div>
</div>
