<div class="container my-5">
  <div class="create-quiz-form card">
    <div class="card-header">
      <h2 class="form-title">Create Quiz</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="quizTitle" class="form-label">Quiz Title</label>
          <input
            type="text"
            class="form-control"
            id="quizTitle"
            formControlName="title"
            placeholder="Enter quiz title"
          />
        </div>
        <div formArrayName="questions">
          @for (question of questionsFormArray.controls; track $index; let
          i=$index) {
          <div>
            <div [formGroupName]="i" class="question-group mb-4">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h5>Question {{ i + 1 }}</h5>
                  </div>
                </div>
                <div class="card-body">
                  <input
                    type="text"
                    class="form-control mb-2"
                    formControlName="text"
                    placeholder="Enter your question"
                  />
                  <div formArrayName="options">
                    @for (option of getOptionsFormArray(i).controls; track
                    $index;let j=$index) {
                    <input
                      type="text"
                      class="form-control mb-2"
                      [formControlName]="j"
                      placeholder="Option {{ j + 1 }}"
                    />
                    }
                  </div>
                  <div>
                    <label>Answer {{ i + 1 }}</label>
                    <input 
                    type="text"
                    class="form-control mb-2"
                    formControlName="correctOption"
                    placeholder="Answer {{ i + 1 }}"
                    />
                  </div>
                </div>
                <div class="card-footer">
                  <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      (click)="removeQuestion(i)"
                    >
                      Remove Question
                    </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-secondary mx-2"
            (click)="addQuestion()"
          >
            Add Question
          </button>
          <button
            type="submit"
            class="btn btn-primary mx-2"
          >
            Create Quiz
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
