<div class="container my-5">
  <div class="create-quiz-form card">
    <div class="card-header">
      <h2 class="form-title">Create Quiz</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="quizTitle" class="form-label">Quiz Title</label>
          <input
            type="text"
            class="form-control"
            id="quizTitle"
            formControlName="quizTitle"
            placeholder="Enter quiz title"
          />
        </div>
        <div formArrayName="questions">
          <div
            *ngFor="let question of questionsFormArray.controls; let i = index"
            [formGroupName]="i"
            class="question-group mb-4"
          >
            <div class="card">
              <div class="card-header">
                <h5>Question {{ i + 1 }}</h5>
              </div>
              <div class="card-body">
                <label [for]="'text' + i" class="form-label"
                  >Question Text</label
                >
                <input
                  type="text"
                  [id]="'text' + i"
                  class="form-control mb-2"
                  formControlName="text"
                  placeholder="Enter your question"
                />
                <div formArrayName="options">
                  <div
                    class="mb-2"
                    *ngFor="
                      let option of getOptionsFormArray(i).controls;
                      let j = index
                    "
                  >
                    <div class="input-group">
                      <div class="input-group-text">
                        <input
                          type="radio"
                          [name]="'optionOfQuestion' + i"
                          class="form-check-input"
                          [value]="j"
                          [formControl]="getCorrectOptionControl(i)"
                        />
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        [formControlName]="j"
                        [placeholder]="'Option ' + (j + 1)"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="removeQuestion(i)"
                >
                  Remove Question
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-secondary mx-2"
            (click)="addQuestion()"
          >
            Add Question
          </button>
          <button type="submit" class="btn btn-primary mx-2">
            Create Quiz
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
