<div class="container-fluid pt-5 pb-5">
  <div class="signup-form card">
    <div class="card-header pt-4">
      <h2 class="form-title">Sign Up for the Quiz</h2>
    </div>
    <div class="card-body px-5">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <!-- Full Name -->
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            #fullName="ngModel"
            [(ngModel)]="model.fullName"
            placeholder="Enter your full name"
            required
          />
          @if(fullName.touched && fullName.invalid){
          <p class="text-danger">fullname is required</p>
          }
        </div>

        <!-- Email Address -->
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            #email="ngModel"
            [(ngModel)]="model.email"
            placeholder="Enter your email"
            required
          />
          @if(email.touched && email.invalid){
          <p class="text-danger">email is required</p>
          }
        </div>

        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            #username="ngModel"
            [(ngModel)]="model.username"
            placeholder="Choose a username"
            required
          />
          @if(username.touched && username.invalid){
          <p class="text-danger">username is required</p>
          }
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="model.password"
            placeholder="Create a password"
            required
          />
          @if(password.touched && password.invalid){
          <p class="text-danger">password is required</p>
          }
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            #confirmPassword="ngModel"
            [(ngModel)]="model.confirmPassword"
            placeholder="Confirm your password"
            required
          />
          @if(confirmPassword.touched && confirmPassword.invalid){
          <p class="text-danger">confirmPassword is required</p>
          }
        </div>

        <!-- Choose an image -->
        <div class="mb-3">
          <label for="image" class="form-label">Choose an Image</label>
          <input
            type="file"
            class=""
            id="image"
            name="image"
            accept="image/*"
            [multiple]="false"
            (change)="onFileSelected($event)"
            ngModel
            required
          />
          @if(cover){
          <div class="imgDiv" align="right">
            <img [src]="cover" />
          </div>
          } @if (showError) {
          <p class="text-danger">image is required</p>
          }
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>

        <!-- Already registered -->
        <div class="text-center mt-3">
          <small
            >Already have an account?
            <a routerLink="/login">Login here</a></small
          >
        </div>
      </form>
    </div>
  </div>
</div>
